@import 'headlines.css';
@import 'info.css';
@import 'pages/a.css';
@import 'pages/b.css';
@import 'pages/c.css';
@import 'pages/d.css';
@import 'pages/e.css';
@import 'pages/f.css';
@import 'pages/g.css';
@import 'pages/h.css';
@import 'pages/i.css';
@import 'pages/j.css';

:root {
    --bg: rgb(30, 30, 40);
    --bg-box: rgba(128, 128, 128, 0.2);
    --bg-box-white: rgba(236, 236, 236, 0.4);
    --text: rgb(211, 211, 221);
    --animation-duration: 1s;
    --cursor: default;
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Crimson Text', serif;
    user-select: none;
    outline: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: copy;
    margin: 0px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: var(--cursor);
    --animation-state: paused;
    --direction: alternate;
}

.inactive {
    display: none;
}

.taked {
    visibility: hidden;
}

li {
    margin-bottom: 20px;
}