#h h1 {
    margin-top: 20px;
}

#h h2 {
    animation: h_subtitle_in var(--animation-state) var(--animation-duration) ease-in-out var(--direction) infinite both;
}

@keyframes h_subtitle_out {
    0% {
        transform: none;
    }

    50% {
        transform: rotateY(-90deg);
    }

    100% {
        transform: rotateY(-90deg);
    }
}

#h #center {
    position: absolute;
    top: calc(50% + 82px);
    height: 820px;
    transform: translateY(-50%);
    width: 100%;
}

#h #img {
    height: 750px;
    width: 750px;
    object-fit: cover;
    display: inline-block;
    left: 10px;
    position: absolute;
    animation: h_img_in var(--animation-state) var(--animation-duration) ease-in-out var(--direction) infinite both;
}

@keyframes h_img_out {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        scale: 0.5;
        opacity: 0;
    }
}

#h #img_img {
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

#h #content {
    height: 750px;
    width: calc(100% - 850px);
    display: inline-block;
    left: 800px;
    position: absolute;
    animation: h_content_in var(--animation-state) var(--animation-duration) ease-in-out var(--direction) infinite both;
}

@keyframes h_content_in {
    0% {
        transform: translateY(calc(100% + 30px));
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes h_content_out {
    0% {
        transform: none;
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        scale: 0.5;
        opacity: 0;
    }
}

#h #quote {
    padding: 10px;
    width: calc(100% - 20px);
    background-color: var(--bg-box);
    border-radius: 20px;
    margin-bottom: 30px;
}

#h #keys {
    background-color: var(--bg-box);
    width: calc(100% - 20px);
    height: calc(100% - 265px);
    padding: 10px;
    border-radius: 30px;
    overflow-x: auto;
}